:root {
  --main-color: rgb(247, 215, 22);
  --main-color-light: rgba(255, 255, 40, 0.8);
  --accent-color: rgb(242, 76, 76);
  --accent-color-light: rgba(252, 65, 65, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
  font-family: "Open Sans", sans-serif;
}

.main-title {
  font-size: 2.7rem;
  color: var(--accent-color);
}

.header,
.gorev-form {
  min-height: 20vh;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-item {
  padding: 0.5rem;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: #fff;
}

.gorev-ekle {
  color: rgba(39, 174, 96, 1);
}
.gorev-ekle:hover {
  color: #fff;
  background-color: rgba(39, 174, 96, 0.8);
}

.gorev-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gorev-listesi {
  list-style: none;
  min-width: 50%;
}

.gorev-item {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.7rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  transition: 0.5s ease-in-out;
}

.gorev-tanim {
  flex: 1;
}

.btn {
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 0.8rem;
  color: #fff;
}
.btn:hover {
  color: rgb(41, 52, 98);
}
.gorev-tmm {
  background-color: var(--main-color);
}

.gorev-sil {
  background-color: var(--accent-color);
}

.gorev-tmm:hover {
  background-color: var(--main-color-light);
}

.gorev-sil:hover {
  background-color: var(--accent-color-light);
}
.gorev-tamamlandi {
  text-decoration: line-through;
  opacity: 0.5;
}

.fa-regular {
  pointer-events: none;
}
.kaybol {
  transform: scale(0);
}
